html {
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: aqua;
}

body {
    position: relative;
    padding: 0;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 100rem;
}

.header {
    position: relative;
    /* min-height: 30vh; */
    width: 100rem;
    aspect-ratio: 16/9;
    left: 50%;
    transform: translateX(-50%);
    background: url('./Header.png');
    background-position: center;
    background-size: cover;
}

.navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation--item[title="shop"] {
    background: url('./shop-removebg-preview.png');
    width: 10rem;
    height: 5.5rem;
}

.navigation--item[title="shop"]:active {
    background: url('./shop_page-removebg-preview.png');
    width: 10rem;
    height: 5.5rem;
    background-position: left 0 top 0;
}

.navigation--item[title="collab"] {
    background: url('./collabs-removebg-preview.png');
}

.navigation--item[title="collab"]:active {
    background: url('./collabs_page-removebg-preview.png');
}

.navigation--item[title="portfolio"] {
    background: url('./portfolio-removebg-preview.png');
}

.navigation--item[title="portfolio"]:active {
    background: url('./portfolio_page-removebg-preview.png');
}

.navigation--item[title="blog"] {
    background: url('./blog-removebg-preview.png');
}

.navigation--item[title="blog"]:active {
    background: url('./blog_page-removebg-preview.png');
}

.navigation--item[title="contact"] {
    background: url('./contact-removebg-preview.png');
}

.navigation--item[title="contact"]:active {
    background: url('./contact_page-removebg-preview.png');
}

.navigation--item {
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    list-style: none;
}


/* SHOP PAGE */

.items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    flex: 1 0 30%;
    margin-bottom: 2rem;
    min-width: 15rem;
    max-width: 25rem;
    border: 1px solid black;
}